<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- mysql 连接配置 -->
    <properties resource="sqicnf/mysql.properties"/>

    <!-- 配置 -->
    <settings>
        <!-- 下划线映射为驼峰 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    
    <!-- 别名 -->
    <typeAliases>
        <!--
        <typeAlias type="entity.User" alias="User"/>
        -->
        <!-- 以包为单位，设置别名，类名就是别名 -->
        <package name="entity"/>
    </typeAliases>

    <!-- 配置连接数据库 -->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <!--
    -->
    <mappers>
        <!--
        <mapper resource="mapper/UserMapper.xml"/>
        -->
        <!-- 同样以包为单位 -->
        <!-- UserMapper.xml 的 包的名字 要和 UserMapper.java 的所在包的 名字一样 -->
        <!-- 约定大于编码 -->
        <package name="mapper"/>
        <package name="anno"/>
    </mappers>
</configuration>