<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="60 seconds" debug="false"> -->

    <!-- 控制台输出
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level [%logger{15}:%line] - %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
    -->

    <!-- 控制台 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{时间:HH:mm:ss.SSS} [%logger{15}:%line]:%n   %msg%n%n
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="FILE_ONE" class="ch.qos.logback.core.FileAppender">
        <file>./iogback/myiog.log</file>
        <encoder>
            <pattern>%d{时间:HH:mm:ss.SSS} [%logger{15}:%line]:%n   %msg%n%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <append>false</append>
    </appender>

    <!-- 文件的 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>时间:%d{yyyy_MM_dd}.log</fileNamePattern>
            <totalSizeCap>2GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{时间:HH:mm:ss.SSS} [%logger{15}:%line]:%n   %msg%n%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <append>false</append>
    </appender>


    <!-- 根 -->
    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="com.example.iogback.IogbackApplication" level="debug">
        <appender-ref ref="FILE_ONE"/>
    </logger>
</configuration>